@charset "UTF-8";

header {
    display: block;
    text-align: center;
    padding: 10px 20px;
    width: 100%; 
    background-color: #333;
    box-sizing: border-box; 
    margin-bottom: 10px;
}

#logo{
    display: block;
    width: 5%;
    height: 5%;
    margin: auto;
}

header > h1 {
    color: white;
}

.btnVideo{
    display: block;
    background-color: #0D6EFD;
    color: white;
    font-weight: lighter;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.btnVideo:hover {
    background-color: #024fc3;
}

