@charset "UTF-8";

header {
    display: block;
    text-align: center;
    padding: 10px 20px;
    width: 100%; 
    background-color: #333;
    box-sizing: border-box; 
    margin-bottom: 10px;
}

#logo{
    display: block;
    width: 5%;
    height: 5%;
    margin: auto;
}

header > h1 {
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Alinha os botões com espaços iguais */
}

.btnVideo {
    background-color: #0D6EFD;
    color: white;
    font-weight: lighter;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
    flex: 1 1 200px; /* Os botões ocuparão pelo menos 200px e se ajustarão ao tamanho da tela */
    max-width: 250px; /* Limita o tamanho máximo dos botões */
}

.btnVideo:hover {
    background-color: #024fc3;
}

